@font-face {
    font-family: 'NAMU Pro';
    src: local('NAMU Pro'), local('NAMU-Pro'),
        url('../fonts/NAMU-Pro.woff2') format('woff2'),
        url('../fonts/NAMU-Pro.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Medium'), local('OpenSans-Medium'),
        url('../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
