:root {
  --general-text: #111;
  --general-bg: #fff;
  --accent-bg: #F8F8F8;
  --accent-color: #C5358C;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
}

body {
  font-family: "NAMU-Pro", "Open Sans", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
}

.hero {
}