.header__top {
  background: var(--general-text);
}
.header__inner {
  max-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
}
.header__shop {
}
.header__shop path {
  transition: all 0.5s;
}
.header__shop:hover path {
  stroke: var(--accent-color)
}

.nav {
}
.nav__list {
  display: flex;
  gap: 30px;
}
.nav__item {
  color: var(--general-bg);
  transition: all 0.5s;
}
.nav__item:hover {
  color: var(--accent-color);
}
.nav__link {
  display: block;
  line-height: 4;
}

/* --------------------- */

.header__hero {
  background: linear-gradient(0deg, #DDD 0%, #DDD 100%), url() lightgray -1.021px 0px / 100.106% 96.941% no-repeat;
}
.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero__content {
}
.hero__info {
  width: 556px;
  margin: 0 0 224px auto
}
.hero__title {
  margin-bottom: 40px;
}
.hero__text {
  font-size: 26px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 90px;
}
.hero__button {
  width: 235.0px;
  height: 64.0px;

  color: var(--general-bg);

  display: flex;
  padding: 10px 20px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #C5358C;
  transition: all 0.5s;
}
.hero__button:hover {
  transform: scale(1.05);
}
.hero__img {
  margin-left: 87px;
}