@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

.main {
  flex-grow: 1;
}

/* ----------------- */
.general {
}
.general__wrapper {
  margin-top: 150px;
}
.general__gallery {
  display: flex;
}
.general__item {
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.general__item:last-child {
  margin-right: 0;
}
.general__img {
  border-radius: 10px;
}
.general__text {
}
.general__text-details {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.general__text-details span {
  font-family: "Open Sans";
  color: var(--accent-text);
  font-size: 24px;
  font-weight: 400;
  margin-top: 11px;
  margin-left: 40px;
  
}
.general__text-details svg {
  position: absolute;
  left: 190px;
  bottom: 0;
}
.general__text-card {
  margin-top: 19px;
  font-size: 30px;
  color: var(--accent-text);
  margin-left: 40px;
}