@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

.main {
  flex-grow: 1;
}

/* ----------------- */
.general {
  margin-top: 150px;
}
.general__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.general__item {
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.general__item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.3);
}
.general__item:nth-child(4) {
  margin-right: 0;
}
.general__item:last-child {
  margin-right: 0;
}
.general__img {
  border-radius: 15px;
}
.general__text {
  transition: all 0.5s;
  padding-bottom: 30px;
}
.general__text:hover {
  color: #fff;
  background: #000;
}
.general__text path {
  transition: all 0.5s;
}
.general__text svg {
  transition: all 0.5s;
}
.general__text:hover svg {
  transform: rotate(180deg) scale(1.3);
}
.general__text:hover path {
  fill: #fff;
}
.general__text-details {
  position: relative;
  display: flex;
  align-items: center;
}
.general__text-details a {
  font-family: "Open Sans";
  color: var(--accent-text);
  font-size: 24px;
  font-weight: 400;
  margin-top: 11px;
  margin-left: 40px;
}
.general__text-details svg {
  position: absolute;
  left: 190px;
  bottom: 0;
}
.general__text-card {
  padding-top: 20px;
  font-size: 30px;
  color: var(--accent-text);
  margin-left: 40px;
}

/* ------------------------- */

.about {
  padding-top: 150px;
  background: var(--accent-bg);
}
.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.about__content {
  max-width: 744px;
  z-index: 1;
}
.about__title {
  font-size: 42px;
  margin-bottom: 40px;
}
.about__text {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 162px;
}
.about__img {
  z-index: 2;
  position: absolute;
  right: -13%;
  bottom: 0;
}

/* --------------------- */

.info {
  margin-top: 150px;
}
.info__inner {
}
.info__title {
  color: var(--accent-text);
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 60px;
}
.info__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.info__item {
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: all 0.5s;
}
.info__item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.3);
}
.info__img {
  margin-top: 35px;
  text-align: center;
}
.info__img img {
}
.info__text {
  padding-bottom: 46px;
}
.info__text span {
  display: block;
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}
.info__sub-title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 900;

  margin-top: 25px;
  margin-bottom: 13px;
}

/* -------------------- */

.shop {
  padding: 150px 0;
  background: var(--accent-bg);
}
.shop__inner {
}
.shop__special {
  position: relative;
}
.special__sub-title {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 50px;
}
.special__sub-title span {
  color: var(--accent-color);
}
.special__search {
  color: var(--accent-text);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
}
.special__href {
  margin-right: 20px;
  display: inline-flex;
  padding: 6px 20px 7px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 31px;
  border: 1px solid var(--general-text);
  transition: all 0.5s;
}
.special__href:last-child {
  margin-right: 0;
}
.special__href:hover {
  transform: scale(1.05);
}
.special__btn {
  position: absolute;
  right: -5%;
  top: 75%;

  color: var(--accent-color);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  background: var(--general-bg);

  border-bottom: 1px solid var(--accent-color);
  transition: all 0.5s;
}
.special__btn:hover {
  transform: scale(1.03);
}

/* -------------------------- */

.shop__content {
  position: relative;
}

.content__select {
  position: absolute;
  top: -20%;
  right: 0%;
  margin-top: 50px;
  border: 1px solid var(--accent-color);
  padding: 7px 35px 8px 25px;
}

.select {
  color: var(--general-text);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  transition: all 0.5s;
}
.select:hover {
  color: var(--accent-color);
}

.content__content {
  margin-top: 150px;
  width: 440px;
  height: 814px;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr 1fr;
  background: var(--general-bg);
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
}
.content__item {
  
}
.content__img {
}
.content__text {
  color: var(--general-text);
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
  margin: 40px 40px 25px 40px;
}
.content__pricetag {
}
.content__sale {
  position: relative;
}
.content__availability {
  color: #68AE5C;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: 13px;
  margin-left: 73px;
}
.content__availability::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -33px;
  width: 13px;
  height: 13px;
  background: #68AE5C;
  border-radius: 50%;
}
.content__discount {
  color: var(--accent-bg);
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;

  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 10px 20px;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 3px;
  background: var(--accent-color);
}
.content__price {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #111;
  font-size: 42px;
  font-weight: 900;
  margin-top: 30px;
}
.content__price span {
  color: #ABABAB;
  font-size: 24px;
  text-decoration-line: line-through;
}
.content__addition {
  display: flex;
  justify-content: space-between;
}
.content__numbers {
  width: 220px;
  height: 64px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  position: relative;
  bottom: 0;
  left: 0;
  gap: 50px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid var(--general-text);
}
.btn__number {
  background: var(--general-bg);
}
.btn__number-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  padding: 30px 35px;
}
.content__number {
  color: var(--general-text);
  font-family: "Open Sans";
  font-size: 24px;
}
.btn__number-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  padding: 20px 35px;
}
.content__basket {
  position: absolute;
  bottom: 0%;
  left: 220px;
  width: 220px;
  height: 64px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 3px;
  background: var(--general-text);
  transition: all 0.5s;
}
.content__basket button {
  color: var(--general-bg);
  background: var(--general-text);
  color: var(--accent-bg);
  font-family: "Open Sans";
  font-size: 24px;
  transition: all 0.5s;
}
.content__basket:hover {
  background: var(--accent-color);
}
.content__basket:hover button {
  background: var(--accent-color);
  transform: scale(1.1);
}