@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";
@import "media.css";

.about {
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px 53px;
}
.about__img {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  grid-row: 1 / -1;
}
.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15% 50%;
}
.about__img-control {
  position: absolute;
  color: var(--general-bg);
  bottom: 4.7%;
  left: 5%;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  text-align: left;
  background: rgba(149, 123, 151, 0.90);
  border-radius: 20px;
  padding: 15px 20px;
}
.about__img-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  flex-shrink: 0;
  background: var(--general-bg);
  position: relative;
}
.about__img-button::before {
  content: '';
  position: absolute;
  inset: 5%;
  border-radius: 50%;
  border: 2px solid #CEAAD0;
  opacity: 0;
  transition: all 0.5s;
}
.about__img-button:hover::before {
  opacity: 1;
}
.about__body {
}
.about__heading {
}
.about__title {
}
.about__title-text {
  margin-bottom: 30px;
}
.about__text {
}
.about__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.about__item {
  border-radius: 20px;
  background: var(--accent-bg);
  padding: 29px 24px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.about__grid-img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__grid-img img {
  width: 24px;
  height: 24px;
}
.about__grid-text {
}

/* =================== */

.program {
}
.program__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 30px 15px;
}
.program__heading {
}
.program__title {
  margin-bottom: 20px;
}
.program__text {
}
.tab-controls {
  display: flex;
  gap: 26px;
}
.tab-controls__item {
}
.tab-controls__link {
  display: block;
  border-radius: 100px;
  padding: 14px 30px;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.30);
  white-space: nowrap;

  transition: all 0.5s;
}
.tab-controls__link:hover {
  background: #FFE0CB;
}
.tab-controls__link--active {
  background: #FFE0CB;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}
.tab-content {
  display: none;
}
.tab-content--show {
  display: block;
}

.accordion-list {
}
.accordion-list__item {
  border: 1px solid var(--accent-color);
  border-radius: 20px;

  margin-bottom: 30px;
}
.accordion-list__item:last-child {
  margin-bottom: 0;
}
.accordion-list__control {
  padding: 41px 30px;
  width: 100%;
  background: transparent;
  text-align: left;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  
  font-family: 'Gabriola';
  font-size: 42px;
  line-height: 0.9;
  color: var(--accent-text);
  transition: all 0.5s;
}
.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}
.accordion-list__control-icon {
  width: 36.0px;
  height: 36.0px;
  border-radius: 50%;
  border: 1.5px solid var(--accent-color);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.accordion-list__control-icon svg {
  margin-left: 2px;
}
.accordion-list__control-icon path {
  transition: all 0.5s;
}
.accordion-list__control:hover .accordion-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}
.accordion-list__control:hover .accordion-list__control-icon path {
  fill: var(--general-bg);
}
.accordion-list__item--opened .accordion-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}
.accordion-list__item--opened .accordion-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion-content {
  padding: 0 30px 40px;
  display: flex;
  gap: 80px;
}
.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}
.accordion-content__col {
  
}
.accordion-content__title {
  text-transform: uppercase;
  color: #CEAAD0;
  line-height: 1.6;
  margin-bottom: 20px;
}
.accordion-content__list {
}
.accordion-content__item {
  margin-bottom: 20px;
  display: flex;
}
.accordion-content__item:last-child {
  margin-bottom: 0;
}
.accordion-content__icon {
  width: 24px;
  height: 24px;
  border: 1px solid #CEAAD0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-shrink: 0;
}
.accordion-content__icon img {
  width: 9.6px;
  height: 9.6px;
}

.accordion-content__text {
  max-width: 274px;
}

/* =================== */

.program__tab-content {
  margin-bottom: 40px;
}

.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.program__action {
  display: grid;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  gap: 40px;
  max-width: 501px;
}
.program__discount {
  background: var(--accent-bg);
  border-radius: 20px;
  font-size: 20px;
  padding: 40px;
  grid-row: 1 / 3;
}
.program__discount span {
  display: block;
  color: var(--general-text);
  font-family: 'Montserrat';
  margin-left: 50%;
  line-height: 1.5;
  font-size: 16px;
}
.program__discount-value {
  color: var(--accent-color);
  text-align: center;
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 7px;
  transform-origin: 0 0;

  animation: discount-grow 0.8s infinite alternate;
}

@keyframes discount-grow {
  0% {
    color: var(--accent-color);
    transform: scale(1);
  }
  100% {
    transform: translateX(3%) scale(1.1);
    color: #FF9138;
  }
}

.program__price {
}
.program__price-text {
  max-width: 173px;
  color: #CEAAD0;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.program__price-value {
  color: var(--general-text);
  font-family: 'Gabriola';
  font-size: 32px;
  line-height: 0.9;
}
.program__price-value--big {
  color: var(--accent-text);
  font-size: 50px;
}

.program__price-button {
  grid-column: 1 / -1;
}

.program__img img {
  width: 100%;
}

/* =================== */

.gallery {
}
.gallery__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}
.gallery__img {
  justify-self: center;
  align-self: center;
}
.gallery__img img {
  max-width: 100%;
}
.gallery__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px 15px;
}
.gallery__info {
  max-width: 380px;
}
.gallery__title {
  margin-bottom: 10px;
}
.gallery__text {
}
.gallery__nav {
  display: flex;
  align-items: center;
  gap: 98px;

  font-family: Gabriola;
  font-size: 42px;
  line-height: 0.9;
  position: relative;
}
.gallery__nav--mobile {
  display: none;
}
.gallery__prev,
.gallery__next {
  background: transparent;
  cursor: pointer;

  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
  border: 1.5px solid #E1D9E1;
  cursor: auto;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
  fill: #E1D9E1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
  background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
  fill: #E1D9E1;
}
.gallery__prev path,
.gallery__next path {
  transition: all 0.5s;
}
.gallery__prev:hover,
.gallery__next:hover {
  background: var(--accent-color);
}
.gallery__prev:hover path,
.gallery__next:hover path {
  fill: var(--general-bg);
}
.gallery__prev {
}
.gallery__pagination {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  width: auto;
  transform: translate(-50%, -50%);
}
.gallery__next {
}
.gallery__slider {

}
.gallery__wrapper {
}
.gallery__swiper-slide {
  border-radius: 20px;
  overflow: hidden;
}
.gallery__swiper-slide img {
  width: 100%;
}













/* =================== */
/* =================== */
/* =================== */

@media (max-width: 1200px) {
  .hero__img {
    margin: 0;
    max-width: 377px
  }
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }

  /* ---------------- */

  .program__top {
    flex-direction: column;
    align-items: stretch;
  }

  .tab-controls {
    flex-wrap: wrap;
  }

  /* ---------------- */

  .footer__inner {
    justify-content: space-between;
    grid-template: repeat(2, auto) / repeat(3, auto);
  }
  .footer__col:last-child {
    grid-column: 1 / -1;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .about__img {
    grid-row: auto;
  }
  .about__grid {
    grid-column: 1/-1;
  }
  .about__body {
    align-self: center;
  }

  /* ------------------ */

  .accordion-list__control {
    padding: 20px 30px;
    font-size: 35px;
  }

  .accordion-content {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;
    font-weight: 800;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav{
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }
  /* ------------------- */
  
  .gallery__inner {
    grid-template-columns: none;
  }

  .gallery__info {
    max-width: none;
  }

  .gallery__img {
    display: none;
  }

  /* ------------------- */

  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0;
  }
  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }
  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }
  .footer__col-link::before {
    content: '';
    display: none;
  }

}
@media (max-width: 800px) {
  .hero__content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .hero__img {
    display: none;
  }
  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px;
  }
  .footer__col-link::before {
    content: '';
    display: none;
  }

  /* ------------------------ */

  .about__inner {
    grid-template: none;
  }
  .about__img {
    max-width: 500px;
    justify-self: center;
  }
  .about__body {
    text-align: center;
  }

  /* ----------------------- */

  .tab-controls {
    justify-content: center;
    gap: 10px;
  }
  .tab-controls__link {
    padding: 6px;
  }

  .program__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .program__img {
    display: none;
  }
}
@media (max-width: 600px) {
  
  .main__about {
    padding: 60px 0 80px;
  }

  .main__program,
  .main__gallery {
    padding: 0 0 80px;
  }

  .title {
    font-size: 12vw;
  }

  /* -------------------- */
  
  .header__hero {
    padding-bottom: 80px;
  }

  /* -------------------- */

  .about__img-control {
    max-width: none;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    padding: 10px 15px;
  }

  .about__grid {
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }

  .about__item {
    padding: 10px 15px;
  }

  /* -------------------- */

  .program__title {
    text-align: center;
  }
  .program__top {
    text-align: center;
  }
  .tab-controls {
    justify-content: center;
  }

  /* -------------------- */
  
  .accordion-list__item {
    margin-bottom: 10px;
  }
  
  .accordion-list__control {
    padding: 17px 30px;
    font-size: 28px;
  }
  
  .accordion-list__control-icon {
    width: 26px;
    height: 26px;
  }
  .accordion-list__control-icon svg {
    width: 10px;
  }
  
  .program__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* -------------------- */
  
  .gallery__content {
    flex-direction: column;
  }

  .gallery__inner {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  
}